footer#footer
  div
    include ./templates/_contactus

  .major.special.w-100

  section.footer-contact
    .container.text-white.contact.p-4
      .row.contact-banner
        .col-md-4.p-4
          img.main-logo(src="/images/logo.png").mb-5
          dl.alt
            p(style = 'color : white ') Genial Info employs a team of experienced professionals who have invested their huge efforts in proving that every vision can be accomplished with the right planning and implementation.
        .col-md-8.p-4
          p.text-white Quick Link
          ul.text-white(style = 'list-style-type : none ; line-height: 40px; margin-left: -33px;')
            li
      
               a.text-white(href = '/Aboutus')| About us
            li
               a.text-white(href = '/Portfolios')| Portfolios
            li
               a.text-white(href = '/Services')|Services
            li
               a.text-white(href = '/Technologies')|Technologies
            li
               a.text-white(href = '/Insight')|Insight

      .row.justify-content-center.arrow
        i.fa.fa-sort-down.fa-4x(style = 'color : #323849')

    .main.w-100.d-grid__center.d-grid
      ul.nav.justify-content-center
        li
          a.nav-link.alt(href=social.twitter)
            span.label.fa.fa-twitter.fa-2x.text-light
        li
          a.nav-link.alt(href=social.fb)
            span.label.fa.fa-facebook.fa-2x.text-light
        li
          a.nav-link.alt(href=social.linkedin)
            span.label.fa.fa-linkedin.fa-2x.text-light

    p.m-0.p-2.text-center.text-white
      small All rights reserved &copy Copyrights 2017 - 2019  &nbsp;
        a(href='./privacy.html')
          strong | &nbsp; Privacy Policy  &nbsp;
        a(href='./term.html')
          strong | &nbsp; Terms of Services



.footer.border-top.border
  if showFbCustomerChat
    .fb-customerchat(
        page_id="<PAGE_ID>"
        ref="<OPTIONAL_WEBHOOK_PARAM>"
        theme_color="<HEX_COLOR_CODE>"
        logged_in_greeting="<GREETING_MESSAGE_FOR_LOGGED_IN_USERS>"
        logged_out_greeting="<GREETING_MESSAGE_FOR_LOGGED_OUT_USERS>")
include templates/_foot_scripts
script.
    var tab = window.location.hash
    $(function(){
      if(tab){
        tab = tab.slice(1);
        $(`#nav-${tab}-tab`).tab('show');
        $(`#${tab}`).click();
      }
    })
